@-webkit-keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes rainbow {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.divider {
    background: rgba(0, 0, 0, 0) linear-gradient(270deg, rgb(253, 75, 255), rgb(119, 0, 255), rgb(0, 255, 235)) repeat scroll 0% 0% / 300% 300%;
    margin-top: 7px;
    margin-bottom: 7px;
    height: 1px;
    -webkit-animation: rainbow 4s cubic-bezier(.77,0,.18,1) infinite;
    -moz-animation: rainbow 4s cubic-bezier(.77,0,.18,1) infinite;
    animation: rainbow 4s cubic-bezier(.77,0,.18,1) infinite;
}

a {
    color: #c8c5c4;
    text-decoration: none;
}

a:hover {
    background-color: #c8c5c4;
    color: #02010a;
}

article div a {
    background-color: rgba(119, 0, 255, 0.3);
    padding: 0px 2px 0px 2px;
}

code {
    border: solid 1px rgb(19 19 19 / 60%);
    border-radius: 1px;
}

pre code {
    border-style: none;
}

blockquote {
    padding-left: 15px;
    border-left: 5px solid rgba(119, 0, 255, 0.8);
} 

#nav a::before {
    content: "/"
}

.post-preview:hover {
    background-color: #c8c5c4;
}

.post-preview:hover * {
    color: #02010a;
}

#socials > a:first-child::after {
    content: " -"
}

#socials {
    font-size: medium;
}
